<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @adjective.description %>
</p>

<%= link_to 'Edit', edit_adjective_path(@adjective) %> |
<%= link_to 'Back', adjectives_path %>
