


<h1 style= "color:gold"><center>Totals</center></h1>


<p>
  <hr>
  <div>
  Total Greetings : <%= Greet.count %> 
  </div>


<hr>
  <div>
  Total Names: <%= First.count %> 
  </div>
<hr>


  <div>
  Total Adjectives: <%= Adjective.count %> 
  </div>


<hr>
<br>
Total Combined Entries:  <%= Adjective.count + First.count + Greet.count %>
</p>

<hr>